<main id="index-page">

    <section id="index-carousel">

        <nav id="index-carousel-nav">
            <button class="focus">
                CAD/CAM services
            </button>
            <button>
                Rendering
            </button>
            <button>
                Innovations
            </button>
            <div id="index-carousel-nav-loading">
                <div id="index-carousel-nav-loaded"></div>
            </div>
        </nav>

        <section class="focus">
            <div>
                <h2>CAD/CAM services<br>for top jewelers</h2>
                <button>Discover more</button>
            </div>
            <img src="./assets/mariotto-design-background.jpg">
        </section>
        <section>
            <div>
                <h2>Photorealistic rendering</h2>
                <button>Discover more</button>
            </div>
            <img src="./assets/mariotto-design-background.jpg">
        </section>
        <section>
            <div>
                <h2>Innovative solutions</h2>
                <button>Discover more</button>
            </div>
            <img src="./assets/mariotto-design-background.jpg">
        </section>

    </section>

    <section id="index-latest">
        <h1>Latest News & Articles</h1>
        <div id="index-articles">
            <figure>
                <img src="./assets/mariotto-design-background.jpg">
                <p>April 21, 2022</p>
                <figcaption>Example article</figcaption>
            </figure>
            <figure>
                <img src="./assets/mariotto-design-background.jpg">
                <p>April 21, 2022</p>
                <figcaption>Example article</figcaption>
            </figure>
            <figure>
                <img src="./assets/mariotto-design-background.jpg">
                <p>April 21, 2022</p>
                <figcaption>Example article</figcaption>
            </figure>
        </div>
    </section>

</main>