<main class="basic-article">
	<header>
		<img src="/assets/lagarde-earrings-banner.jpg">
	</header>
	<article>
		<h1>Collaboration with Estelle Lagarde</h1>
		<aside><%= new Date( 1650528625000 ).toDateString() %></aside>
		<p>
			In March 2022 Mariotto Design undertook a collaboration with Estelle Lagarde, a talented and fashionable creative designer working in the high jewelry and watch market in France and Switzerland.
		</p>
		<h2>Who is Estelle Lagarde</h2>
		<figure>
			<img src="/assets/estelle-and-gouache.jpg" alt="jewelry designer Estelle Lagarde with one of her designs">
			<figcaption>Jewelry designer Estelle Lagarde with the traditional painting of one of her designs</figcaption>
		</figure>
		<p>
			Estelle Lagarde is a professional jewelry and watch designer, with a very creative mind and a strong paintaing know-how. She works as a freelancer for various prestigious companies in Europe and also provide traditional jewelry gouache trainings.
			<br><br>
			Have a look at her work on her <a target="_blank" href="https://www.instagram.com/lagardejewelrydrawing/">Instagram</a>.
		</p>
		<h2>The collaboration</h2>
		<figure>
			<video autoplay muted loop controls title="high jewelry drop earrings 3D rendering showcase">
				<source src="/assets/services-rendering-video.mp4"
				type="video/mp4">
				Sorry, your browser doesn't support embedded videos.
			</video>
			<figcaption>video rendering of drop earrings for Estelle Lagarde (showcased here with her consent)</figcaption>
		</figure>
		<p>
			The collaboration that took place between Estelle Lagarde and Mariotto Design on March 2022 was about giving birth to one of her showcase creations. Estelle releases demo designs from time to time to communicate about her services, and these designs are usually never developped beyond the paintaing stage. We decided to create the production files of the selected earrings to start their crafting, and to produce the teaser video visible above.
			<br><br>
			The public feedback on the rendered video was very good, and the crafting of the pair of earrings is currently underway under the supervision of Estelle Lagarde. We will create a new article when the crafted earrings are finally released.
			<br><br>
			A live 3D viewer of the earrings can be seen <a target="_blank", href="https://gvr.to/#v/5JnzGWqYbps">here</a>
		</p>
	</article>
</main>