<main class="basic-article">
	<header>
		<img src="/assets/rh-aw-pav-banner.jpg">
	</header>
	<article>
		<h1>rhino_awesome_pave</h1>
		<aside><%= new Date( 1650528625000 ).toDateString() %></aside>
		<p>
			rhino_awesome_pave is another project that Mariotto Design undertook to drive the whole jewelry design community forward and stay at the cutting edge of innovation.
		</p>
		<h2>A pilot experiment</h2>
		<figure>
			<video autoplay muted loop controls title="showcase of the software rhino_awesome_pave">
				<source src="/assets/rhino_awesome_pave_showcase.mp4"
				type="video/mp4">
				Sorry, your browser doesn't support embedded videos.
			</video>
			<figcaption>rhino_awesome_pave in action: positioning of automatically-generated blocks on a polysurface</figcaption>
		</figure>
		<p>
			rhino_awesome_pave is a free and open-source addon for Rhino users. Its purpose is to help designers with the creation of pave settings, which is one of the most time-consuming tasks that they have to undertake. At the moment rhino_awesome_pave is able to make it very quick to position automatically-generated gem block on polysurfaces, which is already a net win on previous workflows.
			<br><br>
			Much remains to be made for rhino_awesome_pave to become a truly dependable software, but the project is already in good shape. You can try the software or have a look at the source code on the <a target="_blank" href="https://github.com/felixmariotto/rhino_awesome_pave">project's Github page</a>.
		</p>
	</article>
</main>