
section img {
	width: 100%;
	max-height: 60vh;
	object-fit: cover;
}

#articles {
	position: relative;
	display: grid;
	margin: 30px 0;
	width: 100%;
	grid-template-columns: repeat( auto-fill, minmax( calc(220px + 8%), 1fr ) );
	grid-row-gap: 30px;
	grid-column-gap: 20px;
}

	#articles figure {
		position: relative;
		margin: 0;
		cursor: pointer;
	}

		#articles a {
			text-decoration: none;
		}

		#articles figure > div {
			position: relative;
			width: 100%;
			aspect-ratio: 1.62/1;
			overflow: hidden;
		}

			#articles figure > div > img {
				position: absolute;
				width: 100%;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				transition: width 1s;
			}

				#articles figure:hover > div > img {
					width: 108%;
				}

		#articles figure > p {
			font-weight: 300;
			font-size: 0.9em;
			margin: 7px 0;
		}

		#articles figure > figcaption {
			font-weight: 500;
			font-size: 1.3em;
		}