
/* GENERAL */

:root {
	--bg-light-color: #ffffff;
	--bg-mid-color: #d9d9d9;
	--bg-dark-color: #545454;
	--focus-color: #36b1f2;
	--font-focus-color: rgb( 15, 15, 15 );
	--font-mid-color: rgb( 105, 105, 105 );
	--font-light-color: #bdbdbd;
	--font-on-dark: #ffffff;
}

body {
	margin: 0;
	overflow-x: hidden;
	background-color: var(--bg-light-color);
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

* {
	font-family: 'Barlow', sans-serif;
	font-weight: 500;
	color:  var(--font-focus-color);
	box-sizing: border-box;
}

h1 {
	margin: unset;
}

h2 {
	margin: unset;
}

p {
	margin: unset;
	line-height: 1.35em;
	font-size: 1.07em;
	font-weight: 400;
}

button {
	background: none;
	color: inherit;
	border-style: solid;
	border-width: 2px;
	border-color: var(--font-focus-color);
	border-radius: 900px;
	padding: 8px 12px;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

a {
	text-underline-offset: 0.15em;
	text-decoration-thickness: 0.15em;
	text-decoration-color: var(--font-light-color);
	transition:
		text-decoration-color 0.2s,
		color 0.2s,
		background-color 0.2s;
}

	a:hover {
		text-decoration-color: var(--font-mid-color);
	}

/* MAIN */

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-grow: 1;
}

	main > section {
		position: relative;
		width: calc( 100vh + 25vw );
		max-width: 100%;
	}

/* HEADER */

body > header {
	position: sticky;
	display: flex;
	justify-content: space-between;
	top: 0;
	padding: 15px 32px;
	border-bottom: solid var(--bg-mid-color) 1px;
	background-color: var(--bg-light-color);
	z-index: 100;
}

	body > header #logo {
		width: 170px;
	}

	body > header nav {
		display: flex;
		justify-content: center;
		align-items: center;
	}

		body > header nav a {
			margin: 0 8px;
		}

	body > header > button {
		position: relative;
		width: 50px;
		padding: 0;
		margin-right: -13px;
		display: none;
		border: none;
	}

		body > header > button * {
			position: absolute;
			left: 50%;
			top: 50%;
			pointer-events: none;
			transition: all 0.2s;
			left: 50%;
			top: 50%;
		}

		body > header > button .a {
			transform:
				scale(1.0)
				translate( -50%, -50% );
		}
		body > header > button .b {
			transform:
				scale(0.0)
				translate( -50%, -50% );
		}

		body > header.expanded > button .a {
			transform:
				scale(0.0)
				translate( -50%, -50% );
		}
		body > header.expanded > button .b {
			transform:
				scale(1.0)
				translate( -50%, -50% );
		}

	@media screen and (max-width: 750px) {
		body > header #logo {
			width: 130px;
		}

		body > header nav {
			display: none;
		}

		body > header.expanded nav {
			display: block;
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			padding: 10px 15px;
			transform: translateY(100%);
			background-color: var(--bg-light-color);
			border-top: solid var(--bg-mid-color) 1px;
			border-bottom: solid var(--bg-mid-color) 1px;
		}

			body > header.expanded nav a {
				position: relative;
				display: flex;
				justify-content: space-between;
				text-decoration: none;
				padding: 10px;
			}

				body > header.expanded nav a:not(:first-child) {
					border-top: solid var(--bg-mid-color) 1px;
				}

				body > header.expanded nav a:after {
					content: 'V';
					font-family: Arial;
					font-size: 0.8em;
					transform: rotate(-90deg);
					right: 0;
					top: 0;
				}

				body > header.expanded nav a:hover {
					background-color: var(--bg-mid-color);
				}

		body > header > button {
			display: flex;
		}
	}

/* FOOTER */

body > footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	bottom: 0;
	margin-top: 55px;
	padding: 25px;
	background-color: var(--bg-dark-color);
}

	body > footer > nav a {
		color: var(--bg-light-color);
		font-weight: 400;
		text-decoration-color: var(--font-light-color);
		text-decoration-thickness: 1px;
		padding: 5px 0;
	}

		body > footer > nav a:hover {
			text-decoration-color: var(--font-mid-color);
		}

	body > footer > #footer-nav-misc {
		display: flex;
		flex-direction: column;
	}

		body > footer > #footer-nav-social *:not(:first-child) {
			margin-left: 15px;
		}

@media screen and (max-width: 620px) {
	body > footer {
		flex-direction: column-reverse;
	}

	body > footer > #footer-nav-social {
		margin-bottom: 10px;
	}
}

/* ARTICLE LAYOUT */

.basic-article {
	position: relative;
	max-width: 92%;
	left: 50%;
	transform: translateX( -50% );
}

@media screen and (max-width: 620px) {
	.basic-article {
		max-width: 100%;
	}
}

	.basic-article header {
		position: relative;
		width: calc( 100vh + 25vw );
		max-width: 100%;
		max-height: 50vh;
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;
	}

		.basic-article header img,
		.basic-article header video
		{
			width: 100%;
			object-fit: cover;
		}

	.basic-article article {
		position: relative;
		width: calc( 90vh + 10vw );
		max-width: calc( 89% - 15px );
		background-color: var( --bg-light-color );
		transform: translateY( -8vh );
		padding: 30px calc( 5px + 3% );
		margin-bottom: -8vh; /* to balance the Y translate */
	}

	@media screen and (max-width: 620px) {
		.basic-article article {
			transform: none;
			padding: 30px 0;
			margin-bottom: 0;
		}
	}

		.basic-article article h1 {
			display: inline-block;
			font-size: 3.5em;
			font-weight: 600;
			border-top: solid 6px var(--focus-color);
			padding-top: 8px;
			padding-bottom: 5px;
		}

		.basic-article article h2 {
			position: relative;
			display: inline-block;
			font-size: 1.6em;
			font-weight: 600;
			padding-top: 10px;
			padding-bottom: 2px;
		}

			.basic-article article h2:after {
				content: "";
				position: absolute;
				width: 32px;
				left: 0;
				top: 0;
				border-top: solid 4px var(--focus-color);
			}

			.basic-article article h2 span {
				position: absolute;
				top: -100px;
			}

		@media screen and (max-width: 800px) {

			.basic-article article h1 {
				font-size: 2em;
			}

			.basic-article article h2 {
				font-size: 1.3em;
			}

		}

		.basic-article article aside {
			font-size: 0.95em;
			font-weight: 400;
			color:  var(--font-mid-color);
		}

		.basic-article article p {
			padding-top: 23px;
		}

		.basic-article article p:not(:last-child) {
			padding-bottom: 50px;
		}

		.basic-article article figure {
			position: relative;
			width: 100%;
			margin: 0;
			padding: 25px 0;
			border-bottom: 1px solid var(--font-light-color);
		}

			.basic-article article img,
			.basic-article article video
			{
				width: 100%;
				object-fit: cover;
			}

			.basic-article article figcaption {
				padding-top: 4px;
				font-size: 0.95em;
				font-weight: 400;
				color: var(--font-mid-color);
			}