
#services-page > div {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 100%;
}

	#services-page #head-image {
		position: relative;
		width: calc( 90vh + 20vw );
		max-width: 92%;
		max-height: 50vh;
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;
	}

		#services-page #head-image img {
			width: 100%;
			object-fit: cover;
		}

	#services-page article {
		position: absolute;
		bottom: 10%;
		width: calc( 90vh + 10vw );
		max-width: calc( 89% - 15px );
		background-color: var( --bg-light-color );
		transform: translateY( 100% );
	}
