<main id="services-page" class="basic-article">
	<header>
		<img src="/assets/about-us-banner.jpg" alt="working desk viewed from top">
	</header>
	<article>
		<h1>About us</h1>
		<aside><%= new Date( 1650528625000 ).toDateString() %></aside>
		<p>
			Mariotto Design was created by Felix Mariotto, who previously worked as computer-aided-designer for high jewelry workshops in France and Hong Kong. The company is decentralized and rely on a network of partners scattered accross Europe.
			<br><br>
			Since its founding, the company has worked with various kinds of jewelry companies. Local indie brands, large international luxury groups, independant design studios... Whatever your scale and workflow, Mariotto Design can adapt and fit in your pipeline. We can offer our services in English, French and Italian.
		</p>
	</article>
</main>