<main id="services-page" class="basic-article">
	<header>
		<img src="/assets/about-us-banner.jpg" alt="working desk viewed from top">
	</header>
	<article>
		<h1>About us</h1>
		<aside><%= new Date( 1650528625000 ).toDateString() %></aside>
		<p>
			Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
		</p>
	</article>
</main>