<main>
	<section>
        <h1>All News & Articles</h1>
        <div id="articles">

            <% const articleKeys = Object.keys( articles ); %>
            <% const max = Math.min( maxArticles, articleKeys.length ); %>
            <% for ( let i=0 ; i<max ; i++ ) { %>

                <% const articleName = articleKeys[ i ] %>

                <a href="/articles/<%= articleName %>">
                    <figure>
                        <div>
                            <img
                                src="<%= articles[ articleName ].thumbnail %>"
                                alt="<%= articles[ articleName ].thumbnailalt %>"
                            >
                        </div>
                        <p><%= new Date( articles[ articleName ].date ).toDateString() %></p>
                        <figcaption><%= articles[ articleName ].caption %></figcaption>
                    </figure>
                </a>

            <% } %>

        </div>
    </section>
</main>