<main id="services-page" class="basic-article">
	<header>
		<img src="/assets/contact-banner.jpg">
	</header>
	<article>
		<h1>Contact</h1>
		<ul>
			<li>
				<object data="/assets/location-icon.svg" width="18" height="18"> </object>
				229 rue Saint-Honoré, 75001 Paris, France
			</li>
			<li>
				<object data="/assets/at-icon.svg" width="18" height="18"> </object>
				contact@mariottodesign.com
			</li>
			<li>
				<object data="/assets/phone-icon.svg" width="18" height="18"> </object>
				+33 7 49 20 81 40
			</li>
		</ul>
	</article>
</main>