<main id="index-page">

    <section id="index-carousel">

        <nav id="index-carousel-nav">
            <button class="focus">
                CAD/CAM services
            </button>
            <button>
                Rendering
            </button>
            <button>
                Innovations
            </button>
            <div id="index-carousel-nav-loading">
                <div id="index-carousel-nav-loaded"></div>
            </div>
        </nav>

        <section class="focus">
            <div>
                <h2>CAD/CAM services<br>for top jewelers</h2>
                <button>Discover more</button>
            </div>
            <img src="./assets/mariotto-design-background.jpg">
        </section>
        <section>
            <div>
                <h2>Photorealistic rendering</h2>
                <button>Discover more</button>
            </div>
            <img src="./assets/mariotto-design-background.jpg">
        </section>
        <section>
            <div>
                <h2>Innovative solutions</h2>
                <button>Discover more</button>
            </div>
            <img src="./assets/mariotto-design-background.jpg">
        </section>

    </section>

    <section id="index-latest">
        <h1>Latest News & Articles</h1>
        <div id="index-articles">
            <a href="/article-lagarde">
                <figure>
                    <img src="./assets/collab-lagarde-min.jpg" alt="photorealistic render of earrings">
                    <p>April 21, 2022</p>
                    <figcaption>Collaboration with Estelle Lagarde</figcaption>
                </figure>
            </a>
            <a href="/article-rh-aw-pav">
                <figure>
                    <img src="./assets/rh-aw-pav-min.jpg" alt="software development in Rhino">
                    <p>April 21, 2022</p>
                    <figcaption>Pilot experiment: pave setting addon for Rhino</figcaption>
                </figure>
            </a>
            <a href="/article-gemviewr">
                <figure>
                    <img src="./assets/gemviewr-min.jpg" alt="realtime render of a tiara">
                    <p>April 21, 2022</p>
                    <figcaption>Gemviewr: a free in-browser jewelry viewer developped by Mariotto Design</figcaption>
                </figure>
            </a>
        </div>
    </section>

</main>