<main id="index-page">

    <section id="index-carousel">

        <nav id="index-carousel-nav">
            <button class="focus" aria-label="CAD/CAM services">
                <span>CAD/CAM services</span>
            </button>
            <button>
                Rendering
            </button>
            <button>
                Innovations
            </button>
            <div id="index-carousel-nav-loading">
                <div id="index-carousel-nav-loaded"></div>
            </div>
        </nav>

        <section class="focus">
            <div>
                <h2>CAD/CAM services<br>for top jewelers</h2>
                <button>Discover more</button>
            </div>
            <video autoplay muted loop title="high jewelry conception using Rhino 3D">
                <source src="/assets/cad-service-teaser.mp4"
                type="video/mp4">
                Sorry, your browser doesn't support embedded videos.
            </video>
        </section>
        <section>
            <div>
                <h2>Photorealistic rendering</h2>
                <button>Discover more</button>
            </div>
            <video autoplay muted loop title="earrings video rendering using Blender">
                <source src="/assets/rendering-service-teaser.mp4"
                type="video/mp4">
                Sorry, your browser doesn't support embedded videos.
            </video>
        </section>
        <section>
            <div>
                <h2>Innovative solutions</h2>
                <button>Discover more</button>
            </div>
            <video autoplay muted loop title="3D graphics programming">
                <source src="/assets/innovation-service-teaser.mp4"
                type="video/mp4">
                Sorry, your browser doesn't support embedded videos.
            </video>
        </section>

    </section>

    <section id="index-latest">
        <h1>Latest News & Articles</h1>
        <div id="index-articles">

            <% const articleKeys = Object.keys( articles ); %>
            <% const max = Math.min( maxArticles, articleKeys.length ); %>
            <% for ( let i=0 ; i<max ; i++ ) { %>

                <% const articleName = articleKeys[ i ] %>

                <a href="/articles/<%= articleName %>">
                    <figure>
                        <div>
                            <img
                                src="<%= articles[ articleName ].thumbnail %>"
                                alt="<%= articles[ articleName ].thumbnailalt %>"
                            >
                        </div>
                        <p><%= new Date( articles[ articleName ].date ).toDateString() %></p>
                        <figcaption><%= articles[ articleName ].caption %></figcaption>
                    </figure>
                </a>

            <% } %>


        </div>
    </section>

</main>