<main id="services-page" class="basic-article">
	<header>
		<img src="/assets/mariotto-design-background.jpg">
	</header>
	<article>
		<h1>Our services</h1>
		<aside><%= new Date( 1650528625000 ).toDateString() %></aside>
		<p>
			Mariotto Design supports jewelry companies with the technical design and development of their projects. The most demanding market players trust us to take on the 3D development of their jewelry and high jewelry pieces. We have experience working with different kinds of design processes and can fit seamlessly in your pipeline.
		</p>
		<h2>CAD/CAM services for jewelry companies<span id="CAD"></span></h2>
		<figure>
			<img src="/assets/services-CAD.jpg" alt="design process of a high jewelry ring">
			<figcaption>Development of a high jewelry ring with morganite and diamonds on white gold</figcaption>
		</figure>
		<p>
			Computer Aided Design (CAD) and Computer Aided Manufacturing (CAM) have become the standard workflow in the jewelry and even the high jewelry industry. CAD and CAM improve manufacturers speed, quality management, and adaptability.
			<br><br>
			Mariotto Design gathered experience of 3D modeling for technical product design with several of the most demanding jewelry manufacturers. Designing a perfect piece of jewelry requires having a good understanding of the whole crafting process, to create parts than can be perfectly produced, assembled, polished, set with stones, and plated. When in doubt about any stage of the processing of a particular jewelry piece, Mariotto Design can rely on a dependable network of experts and advisors. If you didn't reach the highest quality standards yet, we can help you attain it.
		</p>
		<h2>Computer-generated imagery<span id="rendering"></span></h2>
		<figure>
			<video autoplay muted loop controls title="high jewelry drop earrings 3D rendering showcase">
				<source src="/assets/services-rendering-video.mp4"
				type="video/mp4">
				Sorry, your browser doesn't support embedded videos.
			</video>
			<figcaption>video rendering of drop earrings for Estelle Lagarde (showcased here with her consent)</figcaption>
		</figure>
		<p>
			It is now possible to produce artificial images of jewelry pieces so realistic that most people wouldn't spot them as 3D rendered.
			<br><br>
			This technique has many benefits over traditionnal photography. First of all, the items don't have to actually exist, which can save time in promoting new products, or help in testing the market for potential new designs that you didn't start manufacturing. It also helps the design process by allowing to iterate easily upon metal and gem materials.
			<br><br>
			Mariotto Design is able to use cutting-edge tools and technology to produce computer-generated imagery up to your expectations.
		</p>
		<h2>Innovation<span id="innovation"></span></h2>
		<figure>
			<img src="/assets/services-innovation.jpg" alt="programming setup showcasing gemviewr.com development">
			<figcaption>Programming of the website <a href="https://gemviewr.com">GemViewr.com</a>, a free 3D jewelry viewer created and maintained by Mariotto Design</figcaption>
		</figure>
		<p>
			Mastering the current best tools for jewelry CAD is not enough to garantee that Mariotto Design will stay at the forefront.
			<br><br>
			We are commited to driving the jewelry design community forward, by creating new tools to speed up and improve our processes. We are proud to have launched <a href="https://gemviewr.com">GemViewr.com</a>, a free 3D viewer web platform helping jewelry designers to communicate about their creations. We also launched <a href="https://github.com/felixmariotto/rhino_awesome_pave">rhino_awesome_pave</a>, a free and open-source addon for Rhino that helps with the drawing of round gem pavé.
			<br><br>
			We are able to create tailor-made technological solutions for your particular needs. Do you want to automate parts of your process, explore the routes of generative designs, or make your website unique ? Then let us talk about your ideas.
		</p>
	</article>
</main>