<!DOCTYPE html>
<html>
<head>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

    <title>Mariotto Design | Jewelry CAD/CAM contractor</title>

    <link rel="canonical" href="https://mariottodesign.com">

    <meta name="description" content="Jewelry CAD/CAM agency. Remote contractor of high jewelry design and CAD. Paris Place Vendome. CAO haute joaillerie. High end jewellery design.">

    <meta property="og:title" content="Mariotto Design - Jewelry CAD" />

    <meta property="og:url" content="https://mariottodesign.com/" />

    <meta property="og:description" content="jewelry and high jewellery design - CAD contractor">

    <meta property="og:image" content="https://cad-portfolio.s3.eu-west-3.amazonaws.com/images/social_share.jpg">

    <meta property="og:image:type" content="image/png">

    <meta property="og:image:width" content="1024">
    <meta property="og:image:height" content="1024">

    <meta property="og:type" content="website" />

    <style type="text/css">
        <%- include('templates/styles/common.css') %>
    </style>

</head>
<body>
    
    <%= title %>

</body>
</html>