
/* GENERAL */

:root {
	--bg-light-color: #ffffff;
	--bg-mid-color: #d9d9d9;
	--focus-color: #1a5676;
	--font-focus-color: #000000;
	--font-mid-color: #555555;
	--font-light-color: #bdbdbd;
}

body {
	margin: 0;
	background-color: var(--bg-light-color);
}

* {
	font-family: 'Inter', sans-serif;
	color:  var(--font-focus-color);
}

a {
	text-underline-offset: 0.15em;
	text-decoration-thickness: 0.15em;
	text-decoration-color: var(--font-light-color);
}

	a:hover {
		text-decoration-color: var(--font-mid-color);
	}

/* HEADER */

header {
	display: flex;
	justify-content: space-between;
	padding: 15px 32px;
	border-bottom: solid var(--bg-mid-color) 1px;
}

	header #logo {
		width: 170px;
	}

	header nav {
		display: flex;
		justify-content: center;
		align-items: center;
	}

		header nav a {
			margin: 0 8px;
		}

/* FOOTER */

footer {
	display: block;
	position: fixed;
	width: 100%;
	bottom: 0;
	padding: 7px 15px;
	border-top: solid var(--bg-mid-color) 1px;
}