
/* GENERAL */

:root {
	--bg-light-color: #ffffff;
	--bg-mid-color: #d9d9d9;
	--focus-color: #1a5676;
	--font-focus-color: #000000;
	--font-mid-color: #555555;
	--font-light-color: #bdbdbd;
	--font-on-dark: #ffffff;
}

body {
	margin: 0;
	overflow: hidden;
	background-color: var(--bg-light-color);
}

* {
	font-family: 'Barlow', sans-serif;
	font-weight: 500;
	color:  var(--font-focus-color);
	box-sizing: border-box;
}

h1 {
	margin: unset;
}

h2 {
	margin: unset;
}

button {
	background: none;
	color: inherit;
	border-style: solid;
	border-width: 2px;
	border-color: var(--font-focus-color);
	border-radius: 900px;
	padding: 8px 12px;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

a {
	text-underline-offset: 0.15em;
	text-decoration-thickness: 0.15em;
	text-decoration-color: var(--font-light-color);
}

	a:hover {
		text-decoration-color: var(--font-mid-color);
	}

/* HEADER */

header {
	display: flex;
	justify-content: space-between;
	padding: 15px 32px;
	border-bottom: solid var(--bg-mid-color) 1px;
}

	header #logo {
		width: 170px;
	}

	header nav {
		display: flex;
		justify-content: center;
		align-items: center;
	}

		header nav a {
			margin: 0 8px;
		}

/* FOOTER */

footer {
	display: block;
	position: fixed;
	width: 100%;
	bottom: 0;
	padding: 7px 15px;
	border-top: solid var(--bg-mid-color) 1px;
}